html, body {
   height: 100%;
   width: 100%;
   overflow: hidden;
}



.messages {
   overflow: scroll;
}





.height-100 {
   height: 100%;
}

.displaynone {
   display: none;
}

.displayblock {
   display: block;
}

.nopadding {
   padding: 0;
}
